.cd-sp {
    margin-top: 2%;
}

.tp-sp {
    margin-top: 4%;
}

.fm-sp-cl {
    text-align: center;
}

.qtd-tt-t {
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
}

.cd-wd {
    width: 50%;
    text-align: center;
}

.qtd-tt-n {
    font-size: 300%;
    font-family: serif;

}