<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>Cadastro de turmas</title>
  </head>
  <body>
    <div class="container">
      <form [formGroup]="turmaForm" (submit)="cadTurma()">
        <div class="form-group">
          <label for="Iturma">Turma</label>
          <input type="text" formControlName="turma" class="form-control" name="Nturma" id="Iturma" placeholder="Turma">
        </div>
        <div class="form-group">
          <label for="Iescola">Escola</label>
          <input type="text" formControlName="escola" class="form-control" name="Nescola" id="Iescola" placeholder="Escola">
        </div>
        <div class="form-group">
          <label for="Imunicipio">Total coletado(KG)</label>
          <input type="text" formControlName="coleta" class="form-control" name="Ncoleta" id="Icoleta" placeholder="Total de coleta(KG)">
        </div>
        <button type="submit" [disabled]="turmaForm.invalid" class="btn btn-primary btn-block">Enviar</button>
      </form>
    </div>
  </body>
</html>